<h1 id="tableLabel">Продукти</h1>

<div class="demo-button-container">
  <a routerLink="/add-product">
      <button mat-raised-button class="demo-button" color="primary">
          Новий Продукт
      </button>
  </a>
</div>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Назві</th>
      <th>Од. Вимірювання</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ getKey(product.measure) }}</td>
    </tr>
  </tbody>
</table>
