<h1 id="tableLabel">Матеріали</h1>

<div class="demo-button-container">
  <a routerLink="/add-material">
      <button mat-raised-button class="demo-button" color="primary">
          Новий Матеріал
      </button>
  </a>
</div>

<p *ngIf="!forecasts"><em>Завантаження...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Назві</th>
      <th>Од. Вимірювання</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.name }}</td>
      <td>{{ getKey(forecast.measure) }}</td>
    </tr>
  </tbody>
</table>
